/* General items */
body {
    margin: 0px 0px 100px 0px;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #eee;
}

a {
  text-decoration: none;
  color: #343434;
}

/*a:hover,
a:focus {
  color: #319df6;
}*/


/* Top items */
.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 120px;
  font-weight: 100;
  background-color: #f68e31;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 50px;
  line-height: 70px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 25px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #f68e31;
}


/* Data items */

.instructions {
    margin: 40px 40px;
    font-size: 50px;
    display: block;
}

.poketack-container {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type-card {
    width: 180px;
    height: 200px;
    margin: 8px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
}

/*.type-card:hover {
    box-shadow: 0px 0px 0px 6px #dadada inset;
    background-color: #BBB;
}*/

.selected {
    box-shadow: 0px 0px 0px 6px #dadada inset;
    background-color: #888;
}

.type-icon {
    width: 160px;
    height: 160px;
}

.type-name {
    margin: 12px;
    font-size: 30px;
    display: block;
}

.code-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.copy-icon {
    width: 50px;
    height: 50px;
    background-color: #46ab35;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.poketack-code {
    width: 700px;
    margin: 0px 10px;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #fff;
    color: #888;
    font-size: 20px;
    outline: 1px solid #dadada;
}

.code-text {
    margin: 5px;
}


/* Buttons */

#generate-attack-button {
    display: flex;
    margin: 40px auto 40px auto;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 50px;
    font-size: 50px;
    background-color: #f68e31;
    color: #000;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

/*#generate-attack-button:hover,
#generate-attack-button:focus {
    width: 525px;
    height: 105px;
    background-color: #888;
    color: #fff;
}*/


